<header>
  <h1>{{pageTitle}}</h1>
  <p><a href="/">Home</a></p>
  <p><a href="/etymology">Etymology</a></p>
  <p><a href="/trivia">Trivia</a></p>
  <p><a href="/pre-history">Pre-history</a></p>
</header>
