<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Spessart</title>
  </head>

  <body>
    {{> header}}

    <p>The name `Spessart` is derived from "Spechtshardt" a compound word
      composed of Specht - i.e. woodpecker - and the now outdated `hardt` -
      hilly forest.</p>

    {{> footer}}
  </body>
</html>
