<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Spessart</title>
  </head>

  <body>
    {{> header}}

    <p>The Spessart is a series of low wooden mountains lying between the German
      states of Bavaria and Hesse.</p>

    {{> footer}}
  </body>
</html>
