<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Spessart</title>
  </head>

  <body>
    {{> header}}

    <p>Remains of a Hillfort on the Schanzenkopf (Schwedenschanze) are
      indicative of a Celtic presence here dating from roughly 500 - 100 BC.
      The Romans' subsequent arrival did not however entail direct settlement of
      the area, as traces of a Roman presence can only be found in the region's
      northwestern edge owing in part to a lack of direct control over the
      region; the western 'Vorspessart' was essentially left untouched being a
      sort of buffer between Roman territory and tribal neighbors.</p>

    {{> footer}}
  </body>
</html>
