<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Spessart</title>
  </head>

  <body>
    {{> header}}

    <p>It is believed that the tale of Snow White may have originated in the
      Spessart. It is believed that the dwarves mentioned in this classic
      fairytale are in fact based upon the stunted miners who worked along the
      Bieber river nearby. Also featured in the fairytale is a glass coffin -
      perhaps a nod to the glassworking industry that boomed here.</p>

    {{> footer}}
  </body>
</html>
